<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/main::header(~{::title})">
    <title>Products list</title>
</head>

<body>
    <th:block th:replace="fragments/navbar::top"/>

    <div class="container">
        <div class="row py-2">
            <div class="col-12" sec:authorize="hasRole('MANAGER')">
                <a class="btn btn-primary" th:href="@{/products/add}">Add Product</a>
            </div>
            <div th:if="${products.hasContent()}" class="col-12 align-items-center">
                <div class="row col-12 my-3 mx-0 px-0 align-items-center">
                    <nav th:with="currentpage=@{${filterUrl}(pageSize=${products.size})}"
                         class="col-9 px-0 align-items-center">
                        <ul class="pagination pagination-sm my-0">
                            <li class="page-item" th:classappend="${products.isFirst()?'disabled':''}">
                                <a class="page-link"
                                   th:href="@{${currentpage}(page=${products.number}-1)}">&lt;&lt;</a>
                            </li>
                            <li th:each="i:${pageNumbers}" class="page-item"
                                th:classappend="|${i==(products.number+1)?'active':''} ${i==-1?'disabled':''}|">
                                <a class="page-link"
                                   th:href="@{${currentpage}(page=${i}-1)}"
                                   th:text="${i!=-1?i:'..'}"></a>
                            </li>
                            <li class="page-item" th:classappend="${products.isLast()?'disabled':''}">
                                <a class="page-link"
                                   th:href="@{${currentpage}(page=${products.number}+1)}">&gt;&gt;</a>
                            </li>
                        </ul>
                    </nav>
                    <!--page sizes settings-->
                    <div class="dropdown my-0 px-0 col-3 text-right align-items-center"
                         th:with="sizes=${ {5,10,25,50} }">
                        <span>Elements on page:</span>
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:text="${products.size}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a th:if="${products.size}!=${size}" th:each="size:${sizes}" class="dropdown-item"
                               th:href="@{${filterUrl}(page=${products.number},pageSize=${size})}"
                               th:text="${size}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-0">
                    <table class="table table-striped table-hover my-2">
                        <thead>
                        <tr class="d-flex">
                            <th scope="col" class="col-1 text-center">#</th>
                            <th scope="col" class="col-4">Name</th>
                            <th scope="col"
                                th:classappend="${#authorization.expr('hasRole(''MANAGER'')')}?'col-4':'col-6'">
                                Description
                            </th>
                            <th scope="col" class="col-1 text-center">Price</th>
                            <th scope="col" class="col-2 text-right" sec:authorize="hasRole('MANAGER')">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product,iter:${products}" class="d-flex">
                            <th scope="row" th:text="${iter.count + products.size * products.number}"
                                class="col-1 text-center"></th>
                            <td th:text="${product.title}" class="col-4"></td>
                            <td th:text="${product.description}"
                                th:classappend="${#authorization.expr('hasRole(''MANAGER'')')}?'col-4':'col-6'"></td>
                            <td th:text="${#numbers.formatDecimal(product.price,1,2)}" class="col-1 text-center"></td>
                            <td class="col-2 text-right d-inline-block" sec:authorize="hasRole('MANAGER')">
                                <a class="btn btn-success" th:href="@{/products/edit/{id}(id=${product.id})}"><i
                                        class="fas fa-edit"></i></a>
                                <form th:action="@{/products/delete/{id}(id=${product.id})}" th:method="delete"
                                      class="d-inline-block">
                                    <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:unless="${products.hasContent()}" class="alert alert-primary col-12 m-3">
                No elements
            </div>
            <br>
        </div>
        <form class="col-3 pl-0" th:object="${productFilter}">
            <div class="form-group">
                <label for="titlePart">Title</label>
                <input type="text" class="form-control" id="titlePart" name="titlePart" min="0.01" step="0.01"
                       th:field="*{titlePart}">
            </div>
            <div class="form-group">
                <label for="minPrice">Minimum price</label>
                <input type="number" class="form-control" id="minPrice" name="minPrice" min="0.01" step="0.01"
                       th:field="*{minPrice}">
            </div>
            <div class="form-group">
                <label for="maxPrice">Maximum price</label>
                <input type="number" class="form-control" id="maxPrice" name="maxPrice" min="0.01" step="0.01"
                       th:field="*{maxPrice}">
            </div>
            <input type="hidden" name="pageSize" th:value="${products.size}">
            <button type="submit" class="btn btn-primary my-2">Set filters</button>
            <a class="btn btn-primary my-2" th:href="@{/products(pageSize=${products.size})}">Reset filters</a>
        </form>
    </div>

    <th:block th:replace="fragments/main::scripts"/>
</body>
</html>